name: Build

on:
  pull_request:
    branches: [master]

  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.5

      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1.7.10
        with:
          install-command: yarn --frozen-lockfile --check-files --silent

      - name: Build
        run: yarn build:ci
