name: Master

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      #- name: Lint commits
      #  uses: wagoid/commitlint-github-action@v4.1.1

      - name: Set up Node
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14

      - name: Install dependencies
        uses: bahmutov/npm-install@v1.7.9
        with:
          install-command: yarn --frozen-lockfile --check-files --silent

      - name: Lint
        run: yarn lint:ci

      - name: Commit formatted files
        uses: stefanzweifel/git-auto-commit-action@v4.11.0
        with:
          commit_message: "chore: Fix formatting"

      - name: Build
        run: yarn build:ci

      - name: Test
        run: yarn test:ci
