name: CI
on:
  push:
    branches: [stable]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Lint commits
        uses: wagoid/commitlint-github-action@v4.1.9

      - name: Set up Node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: 14

      - name: Install dependencies
        uses: bahmutov/npm-install@v1.7.11
        with:
          install-command: yarn --frozen-lockfile --check-files --silent

      - name: Lint
        run: yarn lint:ci

      - name: Commit formatted files
        uses: stefanzweifel/git-auto-commit-action@v4.13.0
        with:
          commit_message: "chore: Fix formatting"

      - name: Build
        run: yarn build:ci

      - name: Test
        run: yarn test:ci

  release:
    name: Release
    if: ${{ github.ref == 'refs/heads/stable' }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1.7.11

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2.7.0
        with:
          extra_plugins: |
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
