name: Test

on:
  pull_request:
    branches:
      - "**"

  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4.0.0
        id: pnpm-install
        with:
          version: latest
          run_install: false

      - name: Setup Node.js lts/iron
        uses: actions/setup-node@v4.1.0
        with:
          node-version: lts/iron
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests (Unit)
        run: pnpm test

      - name: Run tests (Typecheck)
        run: pnpm test:types
