name: Test

on:
  pull_request:
    branches:
      - "**"

  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        id: pnpm-install
        with:
          version: latest
          run_install: false

      - name: Setup Node.js lts/hydrogen
        uses: actions/setup-node@v3.8.1
        with:
          node-version: lts/hydrogen
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm test:ci
